  body {
    padding: 0;
    margin: 0;
  }

h1 {
  text-align: center;
}

.board {
  margin: 50px auto;
  width: 488px;
  height: 488px;
}

.board .block {
  float: left;
  width: 60px;
  height: 60px;
  margin-bottom: 1px;
}

.board .block:nth-child(2n+0) {
  background-color: #ccc;
  margin-right: 1px;
}

.board .block:nth-child(2n+1) {
  background-color: #ddd;
  margin-right: 1px;
}

#piece {
  width: 50%;
  height: 50%;
  margin: 25% auto;
  border-radius: 50%;
  background-color: #555;
}

