body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

.board {
  margin: 50px auto;
  width: 488px;
  height: 488px;
}

.board .square {
  float: left;
  width: 60px;
  height: 60px;
  margin-bottom: 1px;
}

.board .square:nth-child(2n+0) {
  background-color: #ccc;
  margin-right: 1px;
}

.board .square:nth-child(2n+1) {
  background-color: #ddd;
  margin-right: 1px;
}

.black-piece {
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #555;
}

.white-piece {
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border: 1px solid #555;
  border-radius: 50%;
  background-color: #eee;
}
